/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, '微软雅黑', Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000000;
}

.n-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  background-color: rgba(0, 188, 212, 0.6);
  label {
    margin-left: 10px;
    span {
      margin-left: 2px;
      color: #ffffff;
    }
  }
}

.addbutton {
  position: fixed;
  top: 13px;
  right: 20px;
  z-index: 23;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 188, 212);
  text-align: center;
  line-height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  i {
    color: #ffffff;
    font-size: 20px;
  }
}

.n-inputbox {
  padding: 9px 7px;
  border: 1px solid #d8d8d8;
  outline: none;
}

.n-inputbotton {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}

.n-inputbotton {
  &.search {
    height: 38px;
    width: 70px;
    color: #ffffff;
    background-color: #A5DFE5;
  }
}

.n-inputbox {
  &.search {
    border: none;
    height: 20px;
    width: 350px;
  }
}

.n-main {
  width: 1200px;
  padding-top: 85px;
  padding-bottom: 30px;
  margin: 0 auto;
  overflow: hidden;
}

.n-main-item {
  float: left;
  width: 20%;
  height: 45px;
  box-sizing: border-box;
  border-bottom: 1px solid #f5f5f5;
  a {
    display: block;
    line-height: 45px;
    &:hover {
      background-color: #f5f5f5;;
    }
    img {
      margin: 0 10px 0 15px;
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }
}

.totop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 23;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 188, 212);
  text-align: center;
  line-height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  i {
    color: #ffffff;
    font-size: 20px;
  }
}

.pop {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 65px;
  z-index: 233;
  background-color: rgba(0, 0, 0, .5);
  form {
    position: absolute;
    padding: 15px;
    top: 0;
    right: 0;
    width: 350px;
    height: 170px;
    background-color: #fff;
    div {
      margin-bottom: 10px;
      input {
        width: 330px;
      }
    }
    button {
      float: right;
      margin-right: 5px;
      border: none;
      outline: none;
      width: 70px;
      height: 35px;
      color: #ffffff;
      background-color: #00bcd4;
      cursor: pointer;
    }
  }
}

